{% extends 'index.html' %}

{%  block head %}   

    <title>Project Page 2 - VigoFolio</title> {% endblock %}

    {% block content %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-warning portfolio-navbar ">
        <div class="container">
            <a class="navbar-brand logo"" href="/"><img src="/static/img/vigofolio.png" style="width: 90px; height: 80px; "></img></a><button data-bs-toggle="collapse"  class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav"  >
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item"><a class="nav-link" href="/" style="color:rgb(29, 29, 29);  font-weight:500; font-size: 17px;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="project1" style="color:rgb(0, 0, 0) ; border-bottom: 5px solid rgb(2, 204, 255); font-weight:bolder; font-size: 18px;">Project Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="resume" style="color:rgb(29, 29, 29);  font-weight:500; font-size: 17px;">Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact" style="color:rgb(29, 29, 29);  font-weight:500; font-size: 17px;">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="hire" style="color:rgb(29, 29, 29)  ; font-weight:500; font-size: 17px;">Hire me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>Project 2: Blood Bank Management System Using Android Application</h2>
                </div>
                <div class="image" style="background-image:url(/static/img/phoneapp_corner1.png); border: 1px solid rgb(149, 149, 149);"></div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>Blood Bank Management System Using Android Application is a type of blood bank app. The motive of creating this app is to help people, to get blood in an emergency situation. This Application contains lots of features (Screens) like Home, Profile, Find Blood Donor, Find Nearest Hospitals ,etc.., 
                        <p><strong>App name : </strong>AyunaPro<br>
                            <!--  <strong>Git-hub link:</strong>https://github.com/IBM-EPBL/IBM-Project-27159-1660048023
                            <strong>Project Deployment link:</strong>  http://169.51.203.224:31374/ &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <strong>Project Demo link:</strong>   https://youtu.be/revlgYJUR6Q</p> -->
                           
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Project Source Code :</span><a href="#">Github</a><span class="meta-heading">Date</span><span>03 Jan 2022 - 18 Apr 2022</span></div>
                    </div>
                </div>
                <div class="more-projects">
                    <h3 class="text-center"  style="color: rgb(0, 47, 255); text-decoration:none;"><a href="project1" style="color: rgb(0, 47, 255); text-decoration: none;"> << Go Back</a></h3>
                       <div class="row gallery text-center"
                
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="project1"><img class="img-fluid scale-on-hover" src="/static/img/website_home.png" width="600px" height="600px"></a></div>
                        </div>
                        <!--- <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="assets/img/nature/image3.jpg"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="assets/img/tech/image4.jpg"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="assets/img/nature/image5.jpg"></a></div>
                        </div>  -->
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    {% endblock %}